name: CI & CD for SpringApp
# events on which pipeline will run
on: 
  #push:
    #branches: [ master ]
  #pull_request:
    #branches: [ master ]
  workflow_dispatch:
    inputs:
      parameter_name:
        description: 'manually running jobs'
        required: true
env:
     MY_SQL_ROOT: ${{ secrets.MY_SQL_ROOT_PASSWORD }}
     MYSQL_USER: ${{ secrets.MYSQL_USER }}
     MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
     MYSQL_DATABASE: ${{ secrets.MYSQL_DATABASE }}
     RUN_NUMBER: ${{ github.run_number }} 
     SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL}}
     SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL}}
     SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
     JFROG_USERNAME: ${{secrets.JFROG_USERNAME}}
     JFROG_PASSWORD: ${{secrets.JFROG_PASSWORD}}
     
jobs:

# Building SpringBoot application, caching dependencies to improve workflow execution time.
# Maximum allowed caching per repository: 10GB

  build-java:
    runs-on: 'self-hosted'

    steps:
    - name: repository checkout
      uses: actions/checkout@v3

    - name: java setup
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu' # See 'Supported distributions' for available options
        java-version: '8'

    - name: Set up Maven
      uses: stCarolas/setup-maven@v4.5
      with:
        maven-version: '3.8.2'

    - name: build with maven
      run: cd ./springboot-backend ; mvn clean install -DskipTests=true
    
    - name: cache for springapp
      uses: actions/cache@v3
      id: cache
      with:
       path: ~/.m2
       key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
       restore-keys:  ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
       lookup-only: true
       
    - name: Debug Cache
      run: |
       echo "Cache Key: ${{ runner.os }}-${{ env.cache_key }}"
       echo "Cache Directory Contents:"
       ls -al ~/.m2
      env:
       cache_key: Linux-
    
    - name: docker stage + spring app
      run: |
              cd ./springboot-backend
              docker build -t  172.27.59.80:8082/akshay-github-actions/gha-springapp:${{ github.run_number }}  .
              docker login -u ${{ secrets.JFROG_USERNAME }} -p ${{ secrets.JFROG_PASSWORD }} http://172.27.59.80:8082
              docker push  172.27.59.80:8082/akshay-github-actions/gha-springapp:${{ github.run_number }}  
       
# SonarQube analysis using SonarQube Actions 
  SonarQube-analysis:
      runs-on: 'self-hosted'
      needs: [ 'build-java']
      steps:
        - name: SonarQube Scan
          uses: sonarsource/sonarqube-scan-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  #Github Integration with slack channel      
  Slack-notification:
      runs-on: 'self-hosted'
      needs: ['build-java','SonarQube-analysis']
      steps:
        - name: Slack Notification
          uses: act10ns/slack@v1
          with:
            status: ${{job.status}}
            steps:  ${{toJson(steps)}}
            channel: '#github_actions_notification'
            if: always()
          env:
           SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
